/* shared style  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Work Sans", sans-serif;
}
.primary-font {
  font-size: 1rem;
  font-weight: 400;
  color: #534c64;
}
.secondary-font {
  color: #7d2ca5ba;
  font-size: 3rem;
  font-weight: 700;
}
.header-font {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
}

.btn-primary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  padding: 12px 30px;
  border-radius: 3rem;
  background-color: #ff42a5;
  border: 0px;
  margin-right: 20px;
}
/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  display: flex;
}
.nav-title-img {
  width: 85px;
  height: 40px;
  padding-top: 50px;
  padding-right: 20px;
}
.nav-title h3 {
  color: #0b0223;
  font-size: 2.8rem;
  font-weight: 700;
}
.nav-title h3 > span {
  color: #ff42a5;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
}
.social-links {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.social-links-icon {
  width: 33.916px;
  height: 24px;
  padding-left: 20px;
}
/* banner styles */
.banner {
  background-color: #f5efef;
}
.bnr-section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-content > h2 {
  font-size: 6rem;
  font-weight: 800;
}
.banner-description {
  display: flex;
}
.banner-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding-top: 12px;
  padding-right: 5px;
}
.btn-banner {
  display: flex;
}
.btn-secondary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  padding: 12px 30px;
  border-radius: 3rem;
  background-color: #4ec5f7;
  border: 0px;
}
.bnr-section2 {
  display: flex;
  padding: 40px 120px;
}
.section2-description {
  text-align: right;
}
.section2-footer {
  color: #534c64;
  font-size: 2rem;
  font-weight: 700;
}
/* card section */
.card-section{
  text-align: center;
}
.cards{
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;

}
.card{
  width: 342px;
  height: 400px;
  border-radius: 16px;
}

/* play button */
.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden; 
}

.image-container::after {
  content: '\f04b';
  font-family: "Font Awesome 5 Free"; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover::after {
  opacity: 1;
}



@media screen and (max-width: 576px) {
  .banner {
    width: 576px;
    align-items: center;
  }
  nav {
    flex-direction: column;
    margin: 0px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
  .bnr-section1,
  .bnr-section2 {
    width: 576px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .section2-description {
    text-align: left;
  }
  .banner-img {
    width: 576px;
    margin: 0px;
    padding: 0px;
  }
}
@media screen and (min-width: 576px) and (max-width: 960px) {
}
